.App {
    padding: 4rem;
    position: relative;
    min-height: 100vh;

    .search-input {
        // py-1.5 outline-none relative bg-transparent cursor-pointer relative z-10
        padding: .3rem .6rem;
        outline: none;
        position: relative;
        background: transparent;
        z-index: 10;

    }

    .search-input:focus {
        border-radius: 5px;
        outline: 1px solid rgba(202, 202, 202, 0.781);
    }
}

.credit {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

@media only screen and (max-width: 1000px) {
    .App {
        padding: 3rem;
    }
}

@media only screen and (max-width: 700px) {
    .App {
        padding: 2rem 1.2rem;
    }
}